.place{
    width: 285px;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid aliceblue;
}



.place>.place_add{
    position: absolute;
    top: 100px;
    right: 10px;
}

.place_info>img{
    width: 100px;
    height: 80px;
}
